.blog {
    display: grid;
    grid-auto-flow: row;
    height: 88vh;
    width: 100vw;
}

.hcards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.hcard {
    width: 600px;
    height: 400px;
    padding: 2rem 1rem;
    background: var(--wht);
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px var(--blka5);
    transition: 0.5s ease-in-out;
    border-radius: 6px;
    margin-left: 1rem;
}

.hcard .hcardImg {
    position: relative;
    width: 350px;
    height: 400px;
    background: var(--blk);
    border: 1px solid var(--blk);
    border-radius: 6px;
    top: 2rem;
    left: -1rem;
}

.hcard .hcardImg .himg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hcard .hcardContent {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hcard .hcardContent h2 {
    color: var(--primary);
    font-size: 1.5rem;
}

.hcard .hcardContent h3 {
    color: var(--primary);
    font-size: 1.2rem;
    padding: 1rem;
}

.hcard .hcardContent ul li {
    list-style-type: none;
}

.hcard .hcardContent ul li a {
    color: var(--primary);
    font-size: 1.2rem;
    text-decoration: none;
}

@media screen and (max-width:1100px) {
    .hcard {
        width: 525px;
    }
}

@media screen and (max-width:1024px) {
    .hcard {
        width: 500px;
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width:999px) and (min-width:769px) {
    .hcards {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hcard {
        width: 48vw;
    }
}

@media screen and (max-width:768px) {
    .hcard {
        width: 365px;
    }
}

@media screen and (max-width:500px) {
    .hcards {
        display: flex;
        flex-wrap: wrap;
    }
}