@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Montserrat:wght@400;700&display=swap');
@import url('nav.css');
@import url('hero.css');
@import url('portfolio.css');
@import url('blog.css');
@import url('contact.css');
@import url('footer.css');
:root {
    --blk: #000;
    --blka8: rgba(0, 0, 0, 0.7);
    --blka5: rgba(0, 0, 0, 0.5);
    --blka3: rgba(0, 0, 0, 0.3);
    --wht: #fff;
    --whta: rgba(255, 255, 255, 0.7);
    --primary: #3399cc;
    --charmonman: 'Charmonman', cursive;
    --montserrat: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--montserrat);
}

body {
    overflow-x: hidden;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h2 {
    font-size: 3rem;
    color: var(--primary);
    font-family: var(--charmonman);
}

.container {
    display: grid;
    grid-template-rows: 100vh 100vh 88vh 78vh;
}

@media screen and (max-width:1024px) {
    .container {
        display: grid;
        grid-template-rows: 100vh 64rem 42rem;
    }
    .heading {
        margin-top: 1rem;
    }
}

@media only screen and (max-width:999px) and (min-width:769px) {
    .container {
        display: grid;
        grid-template-rows: 100vh 40% 26% 19%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        display: grid;
        grid-template-rows: 100vh 214vh 138vh;
    }
}