.hero {
    background: url('../img/apple.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.hero::after {
    content: '';
    width: 100vw;
    height: 100vh;
    background: var(--blka8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.heroContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 4;
    left: -12px;
    top: 85px;
}

.heroContent h1,
.heroContent h2 {
    color: var(--wht);
}

.heroContent h1 {
    font-family: var(--charmonman);
    position: relative;
    bottom: 7rem;
    font-size: 4rem;
}

.heroContent h2 {
    position: relative;
    bottom: 5rem;
    font-size: 2rem;
}

.heroContent a {
    text-decoration: none;
    position: relative;
    bottom: .5rem;
}

.heroContent a .btn {
    width: 9rem;
    height: 3rem;
    background: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 4px;
    color: var(--wht);
    text-transform: uppercase;
}

.heroContent a .btn:hover {
    background: var(--blk);
    border: 1px solid var(--blk);
    border-radius: 4px;
}

@media screen and (max-width:1100px) {
    .heroContent h1 {
        bottom: 9rem;
        font-size: 4rem;
    }
    .heroContent h2 {
        bottom: 8rem;
        font-size: 1.5rem;
    }
    .heroContent a {
        bottom: 4.5rem;
    }
}

@media screen and (max-width:1024px) {
    .heroContent h1 {
        bottom: 10rem;
        font-size: 4rem;
        left: 0.5rem;
    }
    .heroContent h2 {
        bottom: 9rem;
        font-size: 1.5rem;
    }
    .heroContent a {
        bottom: 6.2rem;
    }
    .heroContent a .btn {
        width: 8rem;
        height: 2.5rem;
    }
}

@media only screen and (max-width:999px) and (min-width:769px) {
    .hero {
        width: auto;
        height: auto;
        /* background-position: -8.5rem 0rem; */
    }
    .hero::after {
        width: 100vw;
    }
}

@media screen and (max-width:500px) {
    .heroContent h1 {
        bottom: 10rem;
        font-size: 3rem;
    }
    .heroContent h2 {
        position: relative;
        bottom: 9rem;
        font-size: 1.5rem;
    }
    .heroContent a {
        text-decoration: none;
        position: relative;
        bottom: 5.5rem;
    }
}